[Unit]
Description=ezvpn server for going through firewall with mTLS secured connections
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/ezvpn/server
ExecStart=/opt/ezvpn/server/ezvpn-server \
  --tls=true \
  --listen=":8443" \
  --config=/opt/ezvpn/server/config/allowed-agents.yml \
  --ca=ca.pem \
  --cert=server.pem \
  --key=server-key.pem
Restart=always
RestartSec=15
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target